<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Title -->
    <title>Bogota | Rooms | XL: Suite</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/click-clack-5db9f.appspot.com/o/flamelink%2Fmedia%2F1553641315663_favicon.png?alt=media&token=ee05ece6-7242-44cc-8d76-f223a95c3d65" type="image/x-icon">

    <!-- Vendor Stylesheets -->
    <link href="../../assets/vendor/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="../../assets/vendor/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../assets/vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.css" rel="stylesheet">
    <link href="../../assets/vendor/aos/dist/aos.css" rel="stylesheet">
    <link href="../../assets/vendor/jquery.mb.vimeo_player/dist/css/jquery.mb.vimeo_player.min.css" rel="stylesheet">

    <!-- Theme Stylesheets -->
    <!-- <link href="../../dist/css/theme.min.css" rel="stylesheet"> -->
    <link href="../../assets/css/theme.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700%7CRoboto:300,400,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- Controller -->
    <script src="./xl.js"></script>
  </head>

  <body class="bg-primary">
    
    <div ng-app="app" ng-controller="xl">

      <!-- Preloader -->
      <div class="preloader">
        <div class="cardcontainer">
          <div class="spinner">
            <img src="../../assets/img/kk.png" width="150">
          </div>
        </div>
      </div>

      <!-- Header -->
      <header>
        <!-- Navbar -->
        <div class="d-none d-lg-block d-xl-block">
          <div class="spyre-navbar navbar navbar-expand-lg bg-primary fixed-top align-items-center " data-transparent data-text-color="#ffffff">
            <div class="container">
              <!-- WhatsApp -->
              <a ng-if="english" title="Get in touch!" target="_blank" href={{whatsapp}} class="btn btn-secondary px-3 whatsapp">
                <i class="fab fa-2x fa-whatsapp"></i>
              </a>
              <a ng-if="spanish" title="Ponte en contacto!" target="_blank" href={{whatsapp_es}} class="btn btn-secondary px-3 whatsapp">
                <i class="fab fa-2x fa-whatsapp"></i>
              </a>
              <!-- Brand -->
              <a class="navbar-brand mr-lg-5 mr-xl-6" href="../../index.html">
                <img src="../../assets/img/logo-light.png" class="d-none d-lg-block" alt="Click Clack Hotel" width="140" />
              </a>
              <!-- Booking -->
              <span class="navbar-text flex-fill d-none d-lg-inline-block text-500 text-uppercase">
                <br>
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group">
                      <input
                        type="date" 
                        class="form-c" 
                        id="check-in" 
                        value={{today}} 
                        ng-model='in' 
                        ng-change="changeHandler()" 
                        placeholder="mm/dd/yyyy" 
                        title="Check-in">
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <input
                        type="date" 
                        class="form-c" 
                        id="check-out" 
                        value={{tomorrow}} 
                        ng-model='out'
                        ng-change="changeHandler()"
                        placeholder="mm/dd/yyyy"
                        title="Check-out">
                    </div>
                  </div>
                  <div class="col-md-2">
                      <div class="form-group">
                        <input ng-if="english"
                        type="number"
                        min="1"
                        class="form-c"
                        id="guests"
                        ng-model='guests'
                        ng-change="changeHandler()"
                        placeholder="GUESTS"
                        title="Number of guests">
                        <input ng-if="spanish"
                        type="number"
                        min="1"
                        class="form-c"
                        id="guests"
                        ng-model='guests'
                        ng-change="changeHandler()"
                        placeholder="HUESPEDES"
                        title="Numero de huespedes">
                      </div>
                    </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <a ng-if="english" class="btn btn-block btn-sm btn-secondary my-2 my-sm-0" href={{synxis}}>BOOK NOW</a>
                      <a ng-if="spanish" class="btn btn-block btn-sm btn-secondary my-2 my-sm-0" href={{synxis_es}}>RESERVAR</a>
                    </div>
                  </div>
                  <div class="form-group">
                    <a ng-if="english" class="btn btn-block btn-sm btn-outline-light my-2 my-sm-0" href={{modify}}>MODIFY BOOKING</a>
                    <a ng-if="spanish" class="btn btn-block btn-sm btn-outline-light my-2 my-sm-0" href={{modify}}>MODIFICAR RESERVA</a>
                  </div>
                </div>
              </span>
              <!-- Menu Toggle -->
              <div class="menu-toggle" title="Menu">
                <div class="hamburger my-2 my-sm-0 mx-0">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <div class="cross my-2 my-sm-0 mx-0">
                  <span></span>
                  <span></span>
                </div>
              </div>
                            <!-- Language -->
              <div>
                <a ng-if="english" class="btn btn-sm btn-outline-light" style="color: white; margin-right: 1vw;" ng-click="changeLanguage()" title="Español">ES</a>
                <a ng-if="spanish" class="btn btn-sm btn-outline-light" style="color: white; margin-right: 1vw;" ng-click="changeLanguage()" title="English">EN</a>
              </div>
              <!-- Logout -->
              <div>
                <a ng-if="english" class="btn btn-sm btn-outline-light" href="../../index.html" title="Back to landing"><i class="fas fa-sign-out-alt"></i></a>
                <a ng-if="spanish" class="btn btn-sm btn-outline-light" href="../../index.html" title="Volver al landing"><i class="fas fa-sign-out-alt"></i></a>
              </div>
              <!-- Sidebar Menu-->
              <div class="spyre-navbar-overlay overlay-slide">
                <div class="container ">
                  <div class="row">
                    <div class="spyre-navbar-nav-container text-white menu-sidebar">
                      <nav class="spyre-navbar-nav open">
                        <ul ng-if="english" class="spyre-nav" style="margin-top: 20px;">
                          <li ng-repeat="item in menu" ng-if="item.visible" class="spyre-nav-item"><a href="{{item.route}}" class="spyre-nav-link" ng-class="{active: id === item.id }">{{item.name}}</a></li>
                          <li class="spyre-nav-item"><a target="_blank" href={{terms}} class="spyre-nav-link">Terms</a></li>
                        </ul>
                        <ul ng-if="spanish" class="spyre-nav" style="margin-top: 20px;">
                          <li ng-repeat="item in menu" ng-if="item.visible" class="spyre-nav-item"><a href="{{item.route}}" class="spyre-nav-link" ng-class="{active: id === item.id }">{{item.nombre}}</a></li>
                          <li class="spyre-nav-item"><a target="_blank" href={{terms}} class="spyre-nav-link">Terminos</a></li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Navbar -->

        <!-- Mobile Menu -->
        <div class="d-lg-none d-xl-none">
          <!-- WhatsApp -->
          <a ng-if="english" title="Get in touch!" target="_blank" href={{whatsapp}} class="btn btn-secondary px-3 whatsapp">
            <i class="fab fa-2x fa-whatsapp"></i>
          </a>
          <a ng-if="spanish" title="Ponte en contacto!" target="_blank" href={{whatsapp_es}} class="btn btn-secondary px-3 whatsapp">
            <i class="fab fa-2x fa-whatsapp"></i>
          </a>
          <!-- Navbar -->
          <div class="spyre-navbar navbar bg-primary fixed-top align-items-center" data-transparent data-text-color="#ffffff">
            <div class="container-fluid">
              <!-- Menu Toggle -->
              <div class="menu-toggle mx-">
                  <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                  <div class="cross">
                    <span></span>
                    <span></span>
                  </div>
              </div>
              <!-- Brand -->
              <div class="align-items-center text-center navbar-text flex-fill text-500 text-uppercase">
                <a href="../../index.html">
                  <img src="../../assets/img/logo-light.png" width="110" alt="Click Clack Hotel" />
                </a>
              </div>
              <!-- Logout -->
              <div>
                <a class="btn btn-sm btn-outline-light" href="../../index.html" title="Back to landing"><i class="fas fa-sign-out-alt"></i></a>
              </div>
            </div>
            <!-- Menu -->
            <div class="spyre-navbar-overlay overlay-slide ">
              <div class="container ">
                <div class="row">
                  <div class="spyre-navbar-nav-container col-lg-3 col-xl-3 bg-dark text-white ext-l ">
                    <nav class="spyre-navbar-nav menu-mobile-layout">
                      <ul ng-if="english" class="spyre-nav">
                        <li ng-repeat="item in menu" ng-if="item.visible" class="spyre-nav-item"><a href="{{item.route}}" class="spyre-nav-link" ng-class="{active: id === item.id }">{{item.name}}</a></li>
                        <li class="spyre-nav-item"><a target="_blank" href="./assets/docs/terms-and-conditions.pdf" class="spyre-nav-link">Terms</a></li>
                      </ul>
                      <ul ng-if="spanish" class="spyre-nav">
                        <li ng-repeat="item in menu" ng-if="item.visible" class="spyre-nav-item"><a href="{{item.route}}" class="spyre-nav-link" ng-class="{active: id === item.id }">{{item.nombre}}</a></li>
                        <li class="spyre-nav-item"><a target="_blank" href="./assets/docs/terms-and-conditions.pdf" class="spyre-nav-link">Terminos</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Mobile Menu -->
      </header>
      <!-- End of Header -->

      <main class="main minh-100vh bg-primary">
          <!-- Section -->
          <section class="py-0 overflow-hidden text-center">
              <div class="bg-container overlay ovarlay-dark-50 parallax" data-rellax-percentage="0.5" style='background-image: url("{{img_xl}}")'></div>
              <div class="container">
                  <div class="row h-100vh align-items-center">
                      <div class="col">
                        <h1 class="text-white text-uppercase fs-4 fs-lg-6" >{{room}}</h1>
                      </div>
                  </div>
                  <div class="move ">
                      <a href="#section-2" data-smooth-scroll data-smooth-scroll-hash="false">
                          <i class="zmdi zmdi-long-arrow-down zmdi-hc-4x text-white"></i>
                      </a>
                  </div>
              </div>
              <div class="slides-navigation"><a class="prev" href="./l.html"><i class="fas fa-chevron-left"></i></a><a class="next" href="./xs.html"><i class="fas fa-chevron-right"></i></a></div>
          </section>
          <!-- End of Section -->
          <!-- Section -->

          <section class="py-0 pb-0" id="section-2">

              <div class="container-fluid px-0">
                  <div class="row no-gutters">
                    <div class="col-md-6 py-0">
                        <div class=" overlay overlay-dark-40">
                          <br><br><br><br>
                          <div id="carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                  <div ng-repeat="i in carousel" ng-class="{active:!$index}" class="carousel-item">
                                    <img class="d-block w-100" src="{{ i.link }}" alt="First slide">
                                  </div>
                            </div>
                            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                        </div>
                    </div>

                      <div class="col-md-6 py-6 py-lg-6  overflow-hidden">
                        <div class="row justify-content-center ">
                            <div class="col-md-9">
                              <div class="row justify-content-center text-justify">
                                <div class="row container">
                                  <div class="col-12 ">
                                    <br><br>
                                      <h2 class="mb-3 fw-medium text-secondary text-uppercase">{{room}}</h2>
                                      <p ng-if="english" class="mb-0 fs--1 text-white text-justify">{{text}}</p>
                                      <p ng-if="english" class="mb-0 fs--1 text-500"><small>{{text_light}}</small></p>
                                      <p ng-if="spanish" class="mb-0 fs--1 text-white text-justify">{{text_es}}</p>
                                      <p ng-if="spanish" class="mb-0 fs--1 text-500"><small>{{text_light_es}}</small></p>
                                      <br>
                                      <div class="text-center">
                                        <a ng-if="english" class="btn btn-sm btn-outline-secondary my-2 my-sm-0 " href={{synxis}}>BOOK</a>
                                        <a ng-if="spanish" class="btn btn-sm btn-outline-secondary my-2 my-sm-0 " href={{synxis_es}}>RESERVAR</a>
                                      </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>


                  </div>
              </div>
          </section>

          <!-- End of Section -->
          <section class="py-0 pb-0 mt-0">
              <div class="container text-center">
                <br><br>
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                        <h6 ng-if="english" class="mb-0 fw-medium text-secondary text-uppercase">Accommodation Facilities</h6>
                        <h6 ng-if="spanish" class="mb-0 fw-medium text-secondary text-uppercase">Comodidades</h6>
                          <div class="row justify-content-center text-center mt-5">
                              <div ng-repeat="item in facilities" class="col-6 col-md-4 col-lg-2 mb-5 mb-md-6 px-4 px-lg-5">
                                <i class="{{item.icon}} fa-2x text-white"></i>
                                <br><br>
                                <h6 ng-if="english" class="text-uppercase text-500" >{{item.name}}</h6>
                                <h6 ng-if="spanish" class="text-uppercase text-500" >{{item.nombre}}</h6>
                              </div>
                              <div class="col-6 col-md-4 col-lg-2 mb-5 mb-md-0 px-4 px-lg-5">
                                  <img width="35" height="35" class="text-white" src="https://firebasestorage.googleapis.com/v0/b/click-clack-5db9f.appspot.com/o/flamelink%2Fmedia%2F1554044136221_MINI%20BAR.png?alt=media&token=6f901744-93e7-4a84-b1f8-19bcc6bd49ab"></i>
                                  <br><br>
                                  <h6 ng-if="english" class="text-uppercase text-500">free mini bar</h6>
                                  <h6 ng-if="spanish" class="text-uppercase text-500">mini bar gratis</h6>
                              </div>
                          </div>
                          <br>
                      </div>
                  </div>
              </div>
          </section>
          <section class="py-0 pb-0">
              <div class="container-fluid px-0">
                  <div class="row no-gutters">
                      <div class="col-md-3 py-0">
                          <div class="bg-container overlay overlay-dark-50" style='background-image: url("{{img_xs}}")'></div>
                          <div class="row justify-content-center py-6 py-lg-8">
                              <div class="col-md-9">
                                <div class="row justify-content-center text-justify">
                                  <div class="row">
                                      <div class="col-md-12 text-center">
                                          <a class="btn btn-lg btn-outline-light my-2 my-sm-2" href="./xs.html">{{name_xs}}</a>
                                      </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 py-0">
                          <div class="bg-container overlay overlay-dark-50" style='background-image: url("{{img_s}}")'></div>
                          <div class="row justify-content-center py-6 py-lg-8">
                              <div class="col-md-9">
                                <div class="row justify-content-center text-justify">
                                  <div class="row">
                                      <div class="col-md-12 text-center">
                                          <a class="btn btn-lg btn-outline-light my-2 my-sm-2" href="./s.html">{{name_s}}</a>
                                      </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 py-0">
                          <div class="bg-container overlay overlay-dark-50" style='background-image: url("{{img_m}}")'></div>
                          <div class="row justify-content-center py-6 py-lg-8">
                              <div class="col-md-9">
                                <div class="row justify-content-center text-justify">
                                  <div class="row">
                                      <div class="col-md-12 text-center">
                                          <a class="btn btn-lg btn-outline-light my-2 my-sm-2" href="./m.html">{{name_m}}</a>
                                      </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 py-0">
                          <div class="bg-container overlay overlay-dark-50" style='background-image: url("{{img_l}}")'></div>
                          <div class="row justify-content-center py-6 py-lg-8">
                              <div class="col-md-9">
                                <div class="row justify-content-center text-justify">
                                  <div class="row">
                                      <div class="col-md-12 text-center">
                                          <a class="btn btn-lg btn-outline-light my-2 my-sm-2" href="./l.html">{{name_l}}</a>
                                      </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
              </div>
            </section>
      </main>

    </div>

    <!-- Footer -->
    <iframe src="../footer.html" class="footer-frame"></iframe>

    <!-- Core Javascripts -->
    <script src="../../assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../../assets/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Vendor Javascripts -->
    <script src="../../assets/vendor/rellax/rellax.min.js"></script>
    <script src="../../assets/vendor/typed.js/lib/typed.min.js"></script>
    <script src="../../assets/vendor/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="../../assets/vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="../../assets/vendor/aos/dist/aos.js"></script>
    <script src="../../assets/vendor/jquery.mb.vimeo_player/dist/jquery.mb.vimeo_player.min.js"></script>

    <!-- Theme Javascripts -->
    <script src="../../dist/js/theme.min.js"></script>
    <script src="../../assets/js/custom/jquery-3.2.1.min.js"></script>
    <script src="../../assets/js/custom/popper.min.js"></script>
    <script src="../../assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="../../assets/js/custom/plugins.min.js"></script>
    <script src="../../assets/js/custom/custom.min.js"></script>
  </body>
</html>
