<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Page Title -->
        <title>Click Clack Hotel</title>

        <!-- Favicons -->
        <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/click-clack-5db9f.appspot.com/o/flamelink%2Fmedia%2F1553641315663_favicon.png?alt=media&token=ee05ece6-7242-44cc-8d76-f223a95c3d65" type="image/x-icon">

        <!-- Vendor Stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700%7CRoboto:300,400,700" rel="stylesheet">
        <link href="./assets/vendor/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="./assets/vendor/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="./assets/vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.css" rel="stylesheet">
        <link href="./assets/vendor/aos/dist/aos.css" rel="stylesheet">
        <link href="./assets/vendor/jquery.mb.vimeo_player/dist/css/jquery.mb.vimeo_player.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

        <!-- Theme Stylesheets -->
        <!-- <link href="./dist/css/theme.min.css" rel="stylesheet"> -->
        <link href="./assets/css/theme.css" rel="stylesheet">

        <!-- Vendor Stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700%7CRoboto:300,400,700" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="./controllers/bogotaController.js"></script>
    </head>

    <body class="bg-primary">

      <div ng-app="App" ng-controller="bogotaController">


        <!-- Preloader -->
        <div class="preloader">
          <div class="cardcontainer">
            <div class="spinner">
                <img src="./assets/img/kk.png"  width="150" />
            </div>
          </div>
        </div>
        <!-- End of Preloader -->


        <!-- Header -->
        <header>
            
          <div class="d-lg-none d-xl-none">
              <div >
                  <a target="_blank" href="https://api.whatsapp.com/send?phone=573204170006&text=Hello%20there,%20I%20was%20just%20wondering…" style="-webkit-box-shadow: 0px 0px 43px -24px rgba(0,0,0,0.95);-moz-box-shadow: 0px 0px 43px -24px rgba(0,0,0,0.95);box-shadow: 0px 0px 43px -24px rgba(0,0,0,0.95);position: fixed; z-index:100; bottom: 25px;right: 25px;padding-top: 7px;padding-bottom: 7px;padding-left: 12px;padding-right: 12px;" class="btn btn-secondary "><i class="fab fa-2x fa-whatsapp"></i></a>
              </div>
            <div class="spyre-navbar navbar bg-primary fixed-top align-items-center" data-transparent data-text-color="#ffffff">
                <div class="container-fluid">
                  <div class="menu-toggle mx-">
                      <div class="hamburger">
                          <span></span>
                          <span></span>
                          <span></span>
                      </div>
                      <div class="cross">
                          <span></span>
                          <span></span>
                      </div>
                  </div>
                  <a href="index.html"><img src="./assets/img/logo-light.png"  width="110"></a>
                  <div >
                    <a class="btn btn-sm btn-outline-light" href="bog-inicio.html">ES</a>
                  </div>

                 
                </div>
                <div class="spyre-navbar-overlay overlay-slide  ">
                    <div class="container ">
                        <div class="row">
                            <div  class="spyre-navbar-nav-container col-lg-3 col-xl-3 text-white ext-l " style="background-color:rgb(10,10,10,0.9) ">
                                <nav class="spyre-navbar-nav" >
                                  <ul class="spyre-nav" >
                                      <li class="spyre-nav-item"><a href="bog-home.html" class="active spyre-nav-link">Home</a></li>
                                      <li class="spyre-nav-item"><a href="bog-about.html" class="spyre-nav-link">About us</a></li>
                                      <li class="spyre-nav-item"><a href="bog-rooms.html" class="spyre-nav-link">Rooms</a></li>
                                      <li class="spyre-nav-item"><a href="bog-restaurant-bar.html" class="spyre-nav-link">Restaurant and Bar</a></li>
                                      <li class="spyre-nav-item"><a href="bog-events.html" class="spyre-nav-link">Events</a></li>
                                      <li class="spyre-nav-item"><a href="bog-specials.html" class="spyre-nav-link">Specials</a></li>
                                      <li class="spyre-nav-item"><a href="bog-rover.html" class="spyre-nav-link">What to do</a></li>
                                      <li class="spyre-nav-item dropdown">
                                          <a href="#" class="spyre-nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
                                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                              <li class="dropdown-menu-item"><a href="bog-contact.html" class="dropdown-menu-link">Contact us</a></li>
                                              <li class="dropdown-menu-item"><a href="bog-talent.html" class="dropdown-menu-link">Work with us</a></li>
                                          </ul>
                                      </li>
                                      <li class="spyre-nav-item"><a target="_blank" href={{terms}} class="spyre-nav-link">Terms</a></li>
                                  </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="d-none d-lg-block d-xl-block">
            <div class="spyre-navbar navbar navbar-expand-lg bg-primary fixed-top align-items-center" data-transparent data-text-color="#ffffff">
                <div class="container pb-2">
                    <a class="navbar-brand mr-lg-5 mr-xl-6" href="index.html">
                      <img src="./assets/img/logo-light.png" class="d-none d-lg-block" alt="Spyre" width="140" />
                    </a>
                    <span class="navbar-text flex-fill d-none d-lg-inline-block text-500 text-uppercase">
                      <br>
                      <div class="row">
                       
                        <div class="col-sm-1 col-md-2">
                          <div class="form-group">
                            <input type="date" class="form-c" id="check-in" value={{today}} ng-model='in' ng-change="changeHandler()" placeholder="mm/dd/yyyy" title="Check-in">
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <input type="date" class="form-c" id="check-out" value={{tomorrow}} ng-model='out' ng-change="changeHandler()" placeholder="mm/dd/yyyy"  title="Check-out">
                          </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                              <input type="number" min="1" class="form-c" id="guests" ng-model='guests' ng-change="changeHandler()" placeholder="GUESTS" title="Number of guests" >
                            </div>
                          </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <a class="btn btn-sm btn-secondary my-2 my-sm-0 " href={{synxis}}>BOOK NOW</a>
                          </div>
                        </div>
                        <div class="form-group">
                          <a class="btn btn-sm btn-outline-light my-2 my-sm-0 " href="https://gc.synxis.com/rez.aspx?Hotel=70051&Chain=19511&template=RBE&shell=RBE&locale=es&start=searchres">MODIFY BOOKING</a>
                        </div>
                      </div>
                    </span>
                    <div class="menu-toggle" title="Menu">
                        <div class="hamburger my-2 my-sm-0 mx-0">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="cross my-2 my-sm-0 mx-0">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div >
                      <a class="btn btn-sm btn-outline-light my-2 my-sm-0 mx-3" href="bog-inicio.html" title="Español">ES</a>
                    </div>
                    <div >
                      <a class="btn btn-sm btn-outline-light" href="index.html" title="Landing"><i class="fas fa-sign-out-alt"></i></a>
                    </div>
                    <div class="d-block d-sm-none d-none d-sm-block d-md-block d-lg-none">
                      <br>
                      <a  href="index.html">
                        <img src="./assets/img/logo-light.png" width="120" />
                      </a>
                    </div>

                    <div >
                        <a title="Get in touch!" target="_blank" href="https://api.whatsapp.com/send?phone=573204170006&text=Hello%20there,%20I%20was%20just%20wondering…" style=" position: fixed; bottom: 25px; right: 25px; " class="btn  btn-secondary px-3 "><i class="fab fa-2x fa-whatsapp"></i></a>
                    </div>
                </div>
                <div class="spyre-navbar-overlay overlay-slide">
                    <div class="container ">
                        <div class="row">
                          
                            <div class="spyre-navbar-nav-container text-white " style="
                            -webkit-box-shadow: 1px 0px 21px -3px rgba(0,0,0,0.95);
                            -moz-box-shadow: 1px 0px 21px -3px rgba(0,0,0,0.95);
                            box-shadow: 1px 0px 21px -3px rgba(0,0,0,0.95);
                            background-color: rgb(10,10,10,0.9);
                            padding-right: 60px;
                            padding-left: 60px;
                            border-left-width: 0px;
                            position: absolute;
                            left: 0px;
                            ">
                                <nav class="spyre-navbar-nav open">
                                  <ul class="spyre-nav" style="margin-top: 20px;">
                                      <li class="spyre-nav-item"><a href="bog-home.html" class="active spyre-nav-link">Home</a></li>
                                      <li class="spyre-nav-item"><a href="bog-about.html" class="spyre-nav-link">About us</a></li>
                                      <li class="spyre-nav-item"><a href="bog-rooms.html" class="spyre-nav-link">Rooms</a></li>
                                      <li class="spyre-nav-item"><a href="bog-restaurant-bar.html" class="spyre-nav-link">Restaurant and Bar</a></li>
                                      <li class="spyre-nav-item"><a href="bog-events.html" class="spyre-nav-link">Events</a></li>
                                      <li class="spyre-nav-item"><a href="bog-specials.html" class="spyre-nav-link">Specials</a></li>
                                      <li class="spyre-nav-item"><a href="bog-rover.html" class="spyre-nav-link">What to do</a></li>
                                      <li class="spyre-nav-item dropdown">
                                          <a href="#" class="spyre-nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
                                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="display: none;">
                                              <li class="dropdown-menu-item"><a href="bog-contact.html" class="dropdown-menu-link">Contact us</a></li>
                                              <li class="dropdown-menu-item"><a href="bog-talent.html" class="dropdown-menu-link">Work with us</a></li>
                                          </ul>
                                      </li>
                                      <li class="spyre-nav-item"><a target="_blank" href="./assets/docs/terms-and-conditions.pdf" class="spyre-nav-link">Terms</a></li>
                                  </ul>
                                </nav>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
          </div>
        </header>

        <main class="main">



          <section ng-if="vimeoBogota" class=" module-cover parallax fullscreen text-center"  data-jarallax-video={{vimeoBogota}}>
            <div class="rin">
              <div class="container ext-l ext-r">
                <div class="container-fuild ">
                  <br><br><br><br><br>
                  <div class="d-block d-sm-none d-none d-sm-block d-md-block d-lg-none">
                    <div class="row">
                      <div class="col-1">

                      </div>
                      <div class="col-10">
                        <form >
                          <!--<div class="form-group">
                            <input type="date" class="form-c" id="check-in" ng-model='in' ng-change="changeHandler()" value={{today}} ng-model="in" ng-change="changeHandler()" placeholder="CHECK IN">
                          </div>
                          <div class="form-group">
                            <input type="date" class="form-c" id="check-out" ng-model='out' ng-change="changeHandler()" value={{tomorrow}} placeholder="CHECK OUT">
                          </div>
                          <div class="form-group">
                            <input type="number" min="1" class="form-c" ng-model='guests' ng-change="changeHandler()" id="guests" placeholder="GUESTS">
                          </div>-->
                          <div style="margin-top: 50vh">
                              <div class="form-group">
                                  <a class="btn btn-sm btn-secondary btn-block my-2 my-sm-0 " href={{synxis}}>BOOK NOW</a>
                                </div>
                                <div class="form-group">
                                  <a class="btn btn-sm btn-outline-light btn-block my-2 my-sm-0 " href="https://gc.synxis.com/rez.aspx?Hotel=70051&Chain=19511&template=RBE&shell=RBE&locale=es&start=searchres">MODIFY BOOKING</a>
                                </div>
                          </div>
                 

                        </form>
                      </div>
                    </div>



                  </div>

                </div>
                <div class="move d-none d-lg-block">
                  <a title="See more!" href="#section-2" data-smooth-scroll data-smooth-scroll-hash="false">
                      <i class="zmdi zmdi-long-arrow-down zmdi-hc-4x text-white"></i>
                  </a>

                </div>

              </div>
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>


          </section>
          <section class="pt-8 pb-5 bg-primary text-white" id="section-2">
              <div class="container">
                  <div class="row align-items-center">
                    <div class="col-lg-4 py-2 text-center">
                        <a href="bog-rooms.html" class="btn btn-lg btn-outline-light px-6">Rooms</a>
                    </div>
                    <div class="col-lg-4 py-2 text-center">
                        <a href="bog-events.html" class="btn btn-lg btn-outline-light px-6">Events</a>
                    </div>
                      <div class="col-lg-4 py-2 text-center">
                          <a href="bog-contact.html" class="btn btn-lg btn-outline-light px-6">Contact</a>
                      </div>
                  </div>
              </div>
          </section>
          <section class="pt-2 pb-4 bg-primary" data-overlay="0.5" >
              <div class="container ">
                <div class="row">
                  <div class="col-12 text-center">
                    <a title="Instagram" target="_blank" href="https://www.instagram.com/clickclackhotel"><h1 class="text-white"><i class="fab fa-instagram text-secondary"></i> @clickclackhotel</h1></a>
                  </div>
                </div>
              </div>
          </section>
          <section class="bg-primary py-3 pb-4" >
                  <div class="container pb-5">
                    <div class="row">
                        <div class="col-lg-12 ">
                            <div class="grid">
                                <div class="row  mt-neg-3">
                                    <div class="col-md-6 col-lg-4 p-0 grid-item print vision">
                                        <a data-fancybox="gallery" href="./assets/img/instagram/1.png"><img class="img-fluid w-100" src="./assets/img/instagram/1.png" alt="Image 01" /></a>
                                    </div>
                                    <div class="col-md-6 col-lg-4 p-0 grid-item print vision">
                                        <a data-fancybox="gallery" href="./assets/img/instagram/2.png"><img class="img-fluid w-100" src="./assets/img/instagram/2.png" alt="Image 01" /></a>
                                    </div>
                                    <div class="col-md-6 col-lg-4 p-0 grid-item branding campaign">
                                        <a data-fancybox="gallery" href="./assets/img/instagram/3.png"><img class="img-fluid w-100" src="./assets/img/instagram/3.png" alt="Image 02" /></a>
                                    </div>
                                    <div class="col-md-6 col-lg-4 p-0 grid-item identity vision">
                                        <a data-fancybox="gallery" href="./assets/img/instagram/4.png"><img class="img-fluid w-100" src="./assets/img/instagram/4.png" alt="Image 03" /></a>
                                    </div>
                                    <div class="col-md-6 col-lg-4 p-0 grid-item branding campaign">
                                        <a data-fancybox="gallery" href="./assets/img/instagram/5.png"><img class="img-fluid w-100" src="./assets/img/instagram/5.png" alt="Image 04" /></a>
                                    </div>
                                    <div class="col-md-6 col-lg-4 p-0 grid-item web video">
                                      <a data-fancybox="gallery" href="./assets/img/instagram/6.png"><img class="img-fluid w-100" src="./assets/img/instagram/6.png" alt="Image 05" /></a>
                                    </div>
                                    <div class="col-md-6 col-lg-4 p-0 grid-item print campaign">
                                        <a data-fancybox="gallery" href="./assets/img/instagram/7.png"><img class="img-fluid w-100" src="./assets/img/instagram/7.png" alt="Image 06" /></a>
                                    </div>

                                    <div class="col-md-6 col-lg-4 p-0 grid-item art vision">
                                        <a data-fancybox="gallery" href="./assets/img/instagram/8.png"><img class="img-fluid w-100" src="./assets/img/instagram/8.png" alt="Image 07" /></a>
                                    </div>
                                    <div class="col-md-6 col-lg-4 p-0 grid-item web online">
                                        <a data-fancybox="gallery" href="./assets/img/instagram/9.png"><img class="img-fluid w-100" src="./assets/img/instagram/9.png" alt="Image 08" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
          </section>

        </main>
        <footer class="bg-dark text-light">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center py-4">
                  <div class="pt-5 pt-lg-0 pb-4">
                      <p class="mb-4 mt-3 fs--1">Cra. 11 No. 93 - 77,  Bogotá
                      <br><br><a class="text-white"><i class="zmdi zmdi-phone zmdi-hc-fw mr-1"></i>57 (1) 743 04 04</a>
                      <br><a class="text-white"><i class="zmdi zmdi-phone zmdi-hc-fw mr-1"></i>01 8000 18 32 32</a>
                      <br><a class="text-white"><i class="zmdi zmdi-email zmdi-hc-fw mr-1"></i>info@clickclackhotel.com</a></p>
                  </div>
                  <div class="mt-4 text-left mt-lg-auto mb-5 mb-lg-">
                    <div class="row text-center">
                      <ul class="mt-4 mt-lg-auto mb-5 mb-lg-0 list-unstyled list-inline px-4">
                          <li class="mr-3 list-inline-item">
                              <a href="https://www.instagram.com/clickclackhotel" target="_blank">
                                  <i class="zmdi zmdi-instagram text-white"></i>
                              </a>
                          </li>
                          <li class="mr-3 list-inline-item">
                              <a href="https://www.facebook.com/clickclackhotel" target="_blank">
                                  <i class="zmdi zmdi-facebook-box text-white"></i>
                              </a>
                          </li>
                          <li class="mr-3 list-inline-item">
                              <a href="https://www.twitter.com/clickclackhotel" target="_blank">
                                  <i class="zmdi zmdi-twitter text-white"></i>
                              </a>
                          </li>
                      </ul>
                    </div>
                  </div>
              </div>
              <div class="text-center">
                <p class="fs--2 text-center text-white">&copy; {{year}} Click Clack Hotel. All rights reserved.</p>
                <a class=" fs--2 text-secondary" target="_blank" href={{terms}}>Terms and Conditions</a>

                <br><br>
              </div>
            </div>
        </footer>
        <!-- End of Footer -->
      </div>

      <!-- Core Javascripts -->
      <script src="./assets/vendor/jquery/dist/jquery.min.js"></script>
      <script src="./assets/vendor/popper.js/dist/umd/popper.min.js"></script>
      <script src="./assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

      <!-- Vendor Javascripts -->
      <script src="./assets/vendor/rellax/rellax.min.js"></script>
      <script src="./assets/vendor/typed.js/lib/typed.min.js"></script>
      <script src="./assets/vendor/owl.carousel/dist/owl.carousel.min.js"></script>
      <script src="./assets/vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
      <script src="./assets/vendor/aos/dist/aos.js"></script>
      <script src="./assets/vendor/jquery.mb.vimeo_player/dist/jquery.mb.vimeo_player.min.js"></script>


      <!-- Theme Javascripts -->
      <script src="./dist/js/theme.min.js"></script>

      <script src="./assets/js/custom/jquery-3.2.1.min.js"></script>
      <script src="./assets/js/custom/popper.min.js"></script>
      <script src="./assets/js/bootstrap/bootstrap.min.js"></script>
      <script src="./assets/js/custom/plugins.min.js"></script>
      <script src="./assets/js/custom/custom.min.js"></script>
    </body>
</html>
