<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Page Title -->
        <title>Click Clack Hotel</title>

        <!-- Favicons -->
        <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/click-clack-5db9f.appspot.com/o/flamelink%2Fmedia%2F1553641315663_favicon.png?alt=media&token=ee05ece6-7242-44cc-8d76-f223a95c3d65" type="image/x-icon">


        <!-- Vendor Stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700%7CRoboto:300,400,700" rel="stylesheet">
        <link href="./assets/vendor/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="./assets/vendor/aos/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

        <!-- Theme Stylesheets -->
        <link href="./assets/css/theme.css" rel="stylesheet">
        <link href="./assets/css/plugins.min.css" rel="stylesheet">

        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="./controllers/specialsController.js"></script>

    </head>

    <body>
      <div ng-app="App" ng-controller="specialsController">


        <!-- Preloader -->
        <div class="preloader">
          <div class="cardcontainer">
            <div class="spinner">
                <img src="./assets/img/kk.png" width="150" />
            </div>
          </div>
        </div>
        <!-- End of Preloader -->


        <!-- Header -->
        <header>
          <div class="d-lg-none d-xl-none">
            <div class="spyre-navbar navbar bg-primary fixed-top align-items-center" data-transparent data-text-color="#ffffff">
                <div class="container-fluid">
                  <div class="menu-toggle mx-">
                      <div class="hamburger">
                          <span></span>
                          <span></span>
                          <span></span>
                      </div>
                      <div class="cross">
                          <span></span>
                          <span></span>
                      </div>
                  </div>
                  <span class="align-items-center text-center navbar-text flex-fill  text-500 text-uppercase">
                    <a href="index.html">
                      <img src="./assets/img/logo-light.png" width="120" />
                    </a>

                  </span>

                  <div >
                    <a class="btn btn-sm btn-outline-light" href="bog-specials.html">EN</a>
                  </div>
                  <div >
                      <a href="https://api.whatsapp.com/send?phone=573204170006&text=Hola,%20quisiera%20informacion%20de..." style=" position: fixed; bottom: 25px; right: 25px; " class="btn  btn-secondary px-3 "><i class="fab fa-2x fa-whatsapp"></i></a>
                  </div>
                </div>
                <div class="spyre-navbar-overlay overlay-slide ">
                    <div class="container ">
                        <div class="row">
                            <div class="spyre-navbar-nav-container col-lg-3 col-xl-3 bg-dark text-white ext-l ">
                                <nav class="spyre-navbar-nav">
                                  <ul class="spyre-nav" >
                                      <li class="spyre-nav-item"><a href="bog-inicio.html" class="spyre-nav-link" style="font-size:20px">Inicio</a></li>
                                      <li class="spyre-nav-item"><a href="bog-nosotros.html" class="spyre-nav-link" style="font-size:20px">Nosotros</a></li>
                                      <li class="spyre-nav-item"><a href="bog-habitaciones.html" class="spyre-nav-link" style="font-size:20px">Habitaciones</a></li>
                                      <li class="spyre-nav-item"><a href="bog-restaurante-bar.html" class="spyre-nav-link" style="font-size:20px">Restaurante y Bar</a></li>
                                      <li class="spyre-nav-item"><a href="bog-eventos.html" class="spyre-nav-link" style="font-size:20px">Eventos</a></li>
                                      <li class="spyre-nav-item"><a href="bog-especiales.html" class="active spyre-nav-link" style="font-size:20px">Especiales</a></li>
                                      <li class="spyre-nav-item"><a href="bog-rover-es.html" class="spyre-nav-link" style="font-size:20px">Qué Hacer</a></li>
                                      <li class="spyre-nav-item dropdown">
                                          <a href="#" class="spyre-nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:20px">Contacto</a>
                                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                              <li class="dropdown-menu-item"><a href="bog-contacto.html" class="dropdown-menu-link" style="font-size:20px">Contáctanos</a></li>
                                              <li class="dropdown-menu-item"><a href="bog-talento.html" class="dropdown-menu-link" style="font-size:20px">Trabaja con nosotros</a></li>
                                          </ul>
                                      </li>
                                      <li class="spyre-nav-item"><a target="_blank" href={{terms}} class="spyre-nav-link" style="font-size:20px">Terminos</a></li>
                                  </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="d-none d-lg-block d-xl-block">
            <div class="spyre-navbar navbar navbar-expand-lg bg-primary fixed-top align-items-center" data-transparent data-text-color="#ffffff">
                <div class="container pb-2">
                    <a class="navbar-brand mr-lg-5 mr-xl-6" href="index.html">
                      <img src="./assets/img/logo-light.png" class="d-none d-lg-block" alt="Spyre" width="150" />
                    </a>
                    <span class="navbar-text flex-fill d-none d-lg-inline-block text-500 text-uppercase">
                      <br>
                      <div class="row">
                        <div class="col-sm-1 col-md-2">
                          <div class="form-group">
                            <input type="date" class="form-c" id="check-in" value={{today}} ng-model='in' ng-change="changeHandler()" placeholder="CHECK IN">
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <input type="date" class="form-c" id="check-out" value={{tomorrow}} ng-model='out' ng-change="changeHandler()" placeholder="CHECK OUT">
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <input type="number" min="1" class="form-c" id="guests" ng-model='guests' ng-change="changeHandler()" placeholder="HUESPEDES" >
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <a class="btn btn-sm btn-outline-secondary my-2 my-sm-0 " href={{synxis_es}}>RESERVAR</a>
                          </div>
                        </div>
                        <div class="form-group">
                          <a class="btn btn-sm btn-outline-light my-2 my-sm-0 " href="https://gc.synxis.com/rez.aspx?Hotel=70051&Chain=19511&template=RBE&shell=RBE&locale=es&start=searchres">MODIFICAR RESERVA</a>
                        </div>
                      </div>
                    </span>
                    <div class="menu-toggle">
                        <div class="hamburger my-2 my-sm-0 mx-0">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="cross my-2 my-sm-0 mx-0">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div >
                      <a class="btn btn-sm btn-outline-light my-2 my-sm-0 mx-3" href="bog-specials.html">EN</a>
                    </div>
                    <div >
                      <a class="btn btn-sm btn-outline-light" href="index.html"><i class="fas fa-sign-out-alt"></i></a>
                    </div>
                    <div class="d-block d-sm-none d-none d-sm-block d-md-block d-lg-none">
                      <br>
                      <a  href="index.html">
                        <img src="./assets/img/logo-light.png" width="120" />
                      </a>
                    </div>

                    <div >
                        <a href="https://api.whatsapp.com/send?phone=573204170006&text=Hola,%20quisiera%20informacion%20de..." style=" position: fixed; bottom: 25px; right: 25px; " class="btn  btn-secondary px-3 "><i class="fab fa-2x fa-whatsapp"></i></a>
                    </div>
                </div>
                <div class="spyre-navbar-overlay overlay-slide ">
                    <div class="container ">
                        <div class="row">
                            <div class="spyre-navbar-nav-container col-lg-3 col-xl-3 bg-dark text-white ext-l ">
                                <nav class="spyre-navbar-nav">
                                  <ul class="spyre-nav" >
                                      <li class="spyre-nav-item"><a href="bog-inicio.html" class="spyre-nav-link" style="font-size:20px">Inicio</a></li>
                                      <li class="spyre-nav-item"><a href="bog-nosotros.html" class="spyre-nav-link" style="font-size:20px">Nosotros</a></li>
                                      <li class="spyre-nav-item"><a href="bog-habitaciones.html" class="spyre-nav-link" style="font-size:20px">Habitaciones</a></li>
                                      <li class="spyre-nav-item"><a href="bog-restaurante-bar.html" class="spyre-nav-link" style="font-size:20px">Restaurante y Bar</a></li>
                                      <li class="spyre-nav-item"><a href="bog-eventos.html" class="spyre-nav-link" style="font-size:20px">Eventos</a></li>
                                      <li class="spyre-nav-item"><a href="bog-especiales.html" class="active spyre-nav-link" style="font-size:20px">Especiales</a></li>
                                      <li class="spyre-nav-item"><a href="bog-rover-es.html" class="spyre-nav-link" style="font-size:20px">Qué Hacer</a></li>
                                      <li class="spyre-nav-item dropdown">
                                          <a href="#" class="spyre-nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:20px">Contacto</a>
                                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                              <li class="dropdown-menu-item"><a href="bog-contacto.html" class="dropdown-menu-link" style="font-size:20px">Contáctanos</a></li>
                                              <li class="dropdown-menu-item"><a href="bog-talento.html" class="dropdown-menu-link" style="font-size:20px">Trabaja con nosotros</a></li>
                                          </ul>
                                      </li>
                                      <li class="spyre-nav-item"><a target="_blank" href={{terms}} class="spyre-nav-link" style="font-size:20px">Terminos</a></li>
                                  </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </header>

        <!-- End of Header -->


        <!-- Main Content -->
        <main class="main minh-100vh bg-primary">
            <!-- Section -->
            <section class="py-0 overflow-hidden text-center">
                <div class="bg-container overlay ovarlay-dark-50 parallax" data-rellax-percentage="0.5" ng-style="{'background-image':'url({{img_specials_bog}})'}"></div>
                <div class="container">
                    <div class="row h-100vh align-items-center">
                        <div class="col">
                          <h1 class="text-white text-uppercase fs-4 fs-lg-6" >ESPECIALES</h1>
                        </div>
                    </div>
                    <div class="move">
                        <a href="#home" data-smooth-scroll data-smooth-scroll-hash="false">
                            <i class="zmdi zmdi-long-arrow-down zmdi-hc-4x text-white"></i>
                        </a>
                    </div>
                </div>

            </section>
            <!-- End of Section -->

            <!-- Section -->
            <section class=" py-0 module-cover-slides fullscreen" id="home" >
                <ul class="slides-container">
                    <li ng-repeat="s in specials_bog" class="text-center" data-overlay="0.5"><div class="bg-container overlay overlay-dark-60" ng-style="{'background-image':'url({{s.img}})'}"></div>
                        <div class="container">
                            <div class="row py-10 justify-content-center">
                                <div class="col-md-4">
                                  <h2 class="my-0 fs-1 fw-medium text-secondary text-uppercase">{{s.title_es}}</h2>
                                  <br>
                                  <p class="text-white text-justify">{{s.text_es}} </p>
                                  <p class="text-white ">{{s.hashtag}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="slides-navigation"><a class="prev" href="#"><i class="fas fa-chevron-left"></i></a><a class="next" href="#"><i class="fas fa-chevron-right"></i></a></div>
            </section>
        </main>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="bg-dark text-light">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center py-4">
                  <div class="pt-5 pt-lg-0 pb-4">
                      <p class="mb-4 mt-3 fs--1">Cra. 11 No. 93 - 77,  Bogotá
                      <br><br><a href="#" class="text-white"><i class="zmdi zmdi-phone zmdi-hc-fw mr-1"></i>57 (1) 743 04 04</a>
                      <br><a href="#" class="text-white"><i class="zmdi zmdi-phone zmdi-hc-fw mr-1"></i>01 8000 18 32 32</a>
                      <br><a href="#" class="text-white"><i class="zmdi zmdi-email zmdi-hc-fw mr-1"></i>info@clickclackhotel.com</a></p>
                  </div>
                  <div class="mt-4 text-left mt-lg-auto mb-5 mb-lg-">
                    <div class="row text-center">
                      <ul class="mt-4 mt-lg-auto mb-5 mb-lg-0 list-unstyled list-inline px-4">
                          <li class="mr-3 list-inline-item">
                              <a href="https://www.instagram.com/clickclackhotel" target="_blank">
                                  <i class="zmdi zmdi-instagram text-white"></i>
                              </a>
                          </li>
                          <li class="mr-3 list-inline-item">
                              <a href="https://www.facebook.com/clickclackhotel" target="_blank">
                                  <i class="zmdi zmdi-facebook-box text-white"></i>
                              </a>
                          </li>
                          <li class="mr-3 list-inline-item">
                              <a href="https://www.twitter.com/clickclackhotel" target="_blank">
                                  <i class="zmdi zmdi-twitter text-white"></i>
                              </a>
                          </li>
                      </ul>
                    </div>
                  </div>
              </div>
              <div class="text-center">
                <p class="fs--2 text-center text-white">&copy; 2018 Click Clack Hotel. Todos los derechos reservados.</p>
                <a class=" fs--2 text-secondary" href="./assets/docs/terms-and-conditions.pdf">Terminos y Condiciones</a>
                <br><br>
              </div>
            </div>
        </footer>
        <!-- End of Footer -->
        </div>

        <!-- Core Javascripts -->
        <script src="./assets/vendor/jquery/dist/jquery.min.js"></script>
        <script src="./assets/vendor/popper.js/dist/umd/popper.min.js"></script>
        <script src="./assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Vendor Javascripts -->
        <script src="./assets/vendor/rellax/rellax.min.js"></script>
        <script src="./assets/vendor/typed.js/lib/typed.min.js"></script>
        <script src="./assets/vendor/aos/dist/aos.js"></script>

        <!-- Theme Javascripts -->
        <script src="./assets/js/theme.js"></script>
        <script src="assets/js2/custom/jquery-3.2.1.min.js"></script>
        <script src="assets/js2/custom/popper.min.js"></script>
        <script src="assets/js2/bootstrap/bootstrap.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA0rANX07hh6ASNKdBr4mZH0KZSqbHYc3Q"></script>
        <script src="assets/js2/custom/plugins.min.js"></script>
        <script src="assets/js2/custom/custom.min.js"></script>
    </body>
</html>
